* {
  /* selector universal */
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  // 10px=1rem

  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}
body {
  font-size: 1.6rem;
  font-family: $fontGlobal;
}
@import "variables";
@import "header";
@import "main-index";
@import "footer";
@import "contacto-html";
@import "servicios-html";
@import "portfolio-html";
@import "nosotros-html";
@import "animaciones";
@import "tablet";
@import "desktop";
